@import "./main.css";


.hello-text {
    color: var(--light-gray-color);
    margin: var(--section-up-margin-big) 0;
}

.hello-text span {
    font-weight: bold;
    color: var(--black-color);
}

.about-text {
    color: var(--dark-gray-color);
    font-size: var(--blog-content-text-size);
    line-height: 1.4;
    margin: var(--section-up-margin-small) 0;
}

 .btn-contact-us {
    width: 190px;
    height: var(--button-height);
    background-color: var(--primary-color);
    color: var(--white-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    font-weight: bold;

    margin-top: var(--section-up-margin-big);
    margin-bottom: calc(var(--section-up-margin-big) * 3.5);

    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

.btn-contact-us:hover {
    background-color: #D9B13B;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}