@import "./main.css";

.hero-section {
    display: flex;
    gap: 20px;
    width: 100%;
}

.trending-post {
    flex: 70%;
}

.most-liked {
    flex: 30%;
}

.trending-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
}

/*Desing Artical Card*/
.artical-card {
    grid-row: 1 / 4;
    border-radius: 8px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in;
}

.artical-card:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.7);
}

.artical-image {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.artical-contents {
    padding: 10px 20px 20px 20px;
}

.artical-date, .artical-title, .artical-description, .artical-category, .artical-other-title {
    margin-top: 15px;
}

.artical-title {
    font-size: var(--big-card-title-size);
    font-weight: bold;
}

.artical-date, .artical-read-time, .artical-category {
    color: var(--light-gray-color);
    font-size: var(--small-card-attribute);
}

.artical-date, .artical-read-time {
    display: inline-block;
}

.artical-date {
    margin-right: 15px;
}

.category-name {
    color: var(--black-color);
}

.card-icon {
    width: 18px;
    height: 18px;
}
/*END: of big artical css*/

/*START: Small artical css*/
.artical-others-card {
    display: flex;
    width: 100%;
    gap: 20px;

    border-radius: 8px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in;
}

.artical-others-card:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.7);
}

.other-image-block {
    flex: 40%;
}


.artical-other-image {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.artical-others-contents {
    flex: 60%;
    padding: 10px 0 20px 0;
}

.artical-other-title {
    font-size: var(--small-card-title-size);
    font-weight: bold;
}
/*END: Small artical css*/


.most-liked-grid {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    width: 100%;
}

/*Most liked artical*/
.most-liked-artical {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    width: 100%;
    border-bottom: 1px solid var(--light-gray-color);
    transition: 0.2s ease-in;
}

.most-liked-artical:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.7);
}

.most-like-sr {
    color: var(--light-gray-color);
    font-weight: bold;
}

.artical-most-liked-title {
    font-size: var(--small-card-title-size);
    font-weight: bold;
}

.most-like-contents .artical-date {
    margin-top: 10px;
}

.most-like-contents .artical-category {
    margin-top: 15px;
    margin-bottom: 10px;
}


/*START: Most Viwed Section*/
.most-viewed-section {
    margin-top: var(--section-up-margin-big);
}

.most-viewed-flex {
    display: flex;
    width: 100%;
    gap: 20px;
}

.most-viewed-artical {
    flex: 33.33%;
    border-radius: 8px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in;
}

.most-viewed-artical:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.7);
}

/*End: Most viewd section*/


/*START: Recently added Section*/

.recently-added-section {
    margin-top: var(--section-up-margin-big);
}

/*End: Recently added Section*/



/*Start: Recently added items*/
.recently-added-flex {
    display: flex;
    width: 100%;
    gap: 20px;
}

.recently-added-items {
    flex: 70%;
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    width: 100%;
}

.others-features {
    flex: 30%;

    display: grid;
    grid-template-columns: auto;
    gap: 20px;

    width: 100%;
}

.recently-added-items .artical-others-card .other-image-block {
    flex: 20%;
}


.categories {
    border-radius: 8px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
}

.category-names-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 100%;
    padding: 20px 10px;
}

.category-names {
    padding: 10px 10px;
    border-radius: 8px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: 0.2s ease-in;
}

.sub-category-name {
    font-weight: bold;
    font-size: 1rem;
    margin: 15px 0;
}

.category-names:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.7);
}

.category-names img {
    width: 50px;
    height: 50px;
}

.subscribe {
    padding: 10px 10px;
    text-align: center;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
}

.subscribe-heading {
    margin: 20px 0;
    font-weight: bold;
}

.btn-subscribe {
    margin: 10px 0;
}

#subscribe-email {
    display: block;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    height: var(--button-height);
    width: 100%;
    padding: 0.375rem 0.75rem;;
}

.subscribe-text {
    color: var(--light-gray-color);
}

.ebooks {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
}

.ebooks-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    width: 100%;
}

.ebooks-card {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
    padding: 10px 10px;
    text-align: center;
}

.book-title {
    font-weight: bold;
    font-size: var(--card-desctiption-size);
}

.ebook-image {
    width: 80px;
    height: 80px;
    margin: 20px 0;
}

.ebook-price {
    font-weight: bold;
    font-size: var(--card-desctiption-size);
    margin-bottom: 10px;
}

.btn-download-sample {
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    color: var(--primary-color);
    font-weight: bold;
    text-transform: uppercase;
    height: var(--button-height);
    margin-bottom: 10px;
    background-color: var(--white-color);
    transition: 0.3s ease-in-out;
}

.btn-download-sample:hover {
    background-color: #EDEDED;
}


/* Laptop Screen */
@media screen and (max-width: 1366px) {

    .hero-section {
        flex-direction: column;
    }

    .trending-post, .most-liked {
        flex: 100%;
    }

    .most-liked-grid {
        grid-template-columns: auto auto;
    }

    .category-names-grid {
        grid-template-columns: auto auto;
    }
}

/* Tablet Big */
@media screen and (max-width: 992px) {
    .ebooks-grid {
        grid-template-columns: auto;
    }
}

/* Tablet small */
@media screen and (max-width: 768px) {
    .trending-grid {
        grid-template-columns: 1fr;
    }

    .most-viewed-flex, .recently-added-flex{
        flex-direction: column;
    }

    .ebooks-grid {
        grid-template-columns: auto auto auto;
    }
}

/* mobile device */
@media screen and (max-width: 576px) {
    .artical-others-card {
        gap: 10px;
    }
    .most-liked-grid {
        grid-template-columns: auto;
    }

    .artical-others-contents .artical-description{
        display: none;
    }

    .recently-added-items .artical-others-card .other-image-block {
        flex: 40%;
    }

    .ebooks-grid {
        grid-template-columns: auto auto;
    }


}