@import url("../css/bootstrap/bootstrap.min.css");


:root {
    --primary-color: #F2BE22;
    --dark-gray-color: #696969;
    --light-gray-color: #ACA7A7;
    --white-color: #FFF;
    --black-color: #000;

    --section-heading-size: 1.75rem;
    --section-heading-size-small: 1.5rem;

    --sub-section-heading-size: 1.125rem;
    --big-card-title-size: 1.375rem;
    --small-card-title-size: 1.125rem;
    --small-card-attribute: 0.875rem;

    --card-desctiption-size: 1rem;

    --section-up-margin-big: 3.125rem;
    --section-up-margin-small: 1.563rem;

    --button-height: 3rem;

    --nav-item-font-big: 1rem;
    --nav-item-font-small: 0.875rem;

    --blog-title-size: 2.25rem;
    --blog-title-size-small: 1.75rem;
    --blog-content-subtitle-size: 1.375rem;
    --blog-content-text-size: 1.25rem;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

a {
    color: var(--black-color) !important;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: var(--black-color) !important;
    text-decoration: none;
}


.nav-container {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.navbar {
    background-color: var(--white-color);
}

.header-logo, .footer-logo {
    width: 180px;
    height: 40px;
    cursor: pointer;
}

.nav-item {
    margin: 0px 20px;
}

.nav-item a{
    font-weight: bold;
    font-size: var(--nav-item-font-big);
}

.nav-item a:hover{
    color: var(--primary-color) !important;
}

.navbar-toggler span {
    display: block;
    background-color: var(--dark-gray-color);
    height: 3px;
    width: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    left: 0;
    opacity: 1;
    transition: all 0.35s ease-out;
    transform-origin: center left;
}

.search-input-box {
    border-color: var(--primary-color) !important;
}

/* top line needs a little padding */
.navbar-toggler span:nth-child(1) {
    margin-top: 0.3em;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translate(15%, 33%) rotate(-45deg);
}

.navbar-toggler span:nth-child(1) {
    transform: translate(0%, 0%) rotate(0deg);
}

.navbar-toggler span:nth-child(2) {
    opacity: 1;
}

.navbar-toggler span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg) ;
}

.navbar, footer, .main-container {
    padding-left: 12.5%;
    padding-right: 12.5%;
}

.main-container {
    margin-top: var(--section-up-margin-big);
}

.heading {
    display: block;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--light-gray-color);
    position: relative;
    margin-bottom: 20px;
}

.big-heading {
    font-size: var(--section-heading-size);
}

.small-heading {
    font-size: var(--sub-section-heading-size);
}


.heading::before {
    background-color: var(--primary-color);
    position: absolute;
    bottom: -2px;
    left: 0;
    content: "";
    height: 2px;
    width: 100px;
}

.btnclass {
    width: 100%;
    height: var(--button-height);
    background-color: var(--primary-color);
    color: var(--white-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

.btnclass:hover {
    background-color: #D9B13B;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}

.search-button {
    width: 80px;
    height: 38px;
}

footer {
    margin-top: var(--section-up-margin-big);
    background-color: var(--primary-color);
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-nav {
    list-style-type: none;
    float: right;
}

.footer-nav li {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
}

.footer-nav li a {
    text-decoration: none;
    color: var(--black-color);
}

.footer-nav li a:hover{
    color: var(--white-color) !important;
    text-decoration: none;
}

.copyright-text {
    font-size: var(--nav-item-font-small);
}


/* Laptop Screen */
@media screen and (max-width: 1366px) {

    .navbar, footer, .main-container {
        padding-left: 33px;
        padding-right: 33px;
    }

    body {
        background-color: blue;
    }
}

/* Tablet Big */
@media screen and (max-width: 992px) {
    .navbar, footer, .main-container {
        padding-left: 12px;
        padding-right: 12px;
    }

    .nav-item {
        margin: 0px 10px;
    }

    .search-input-box {
        width: 200px !important;
    }

    body {
        background-color: green;
    }
}

/* Tablet small */
@media screen and (max-width: 768px) {
    .navbar, footer, .main-container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .nav-item a{
        font-size: var(--nav-item-font-small);
    }

    .search-input-box {
        width: 150px !important;
    }

    body {
        background-color: yellow;
    }

}

/* mobile device */
@media screen and (max-width: 576px) {

    .search-input-box {
       width: auto !important;
    }

    footer {
        padding-bottom: 40px;
    }

    .footer-nav li {
        display: block;
        padding: 2px 0px;
    }

    body {
        background-color: white;
    }
}
